@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Kanit:ital,wght@1,600&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root[data-color-mode='light'] {
  --navbar-bg: #e5e5e5;
  --text-color: #000000;
  --text-hover: #6f6e6e;
  --body-bg: #f0f0f0;
  --bar-color: #455cf1;

  /** code color*/
  --code-white: #767676;
  --code-purple: #8261ec;
  --code-yellow: #455cf1;
  --code-value: #66aaf2;
  --code-semi: #5cabb3;
  --code-class: #455cf1;
  --html-tag-color: #ec6073;
  --html-lt-color: #5cabb3;

  --cursor-color: #2c2c2e;
  --soical-color: #66aaf2;
  --skill-bg-color: #ffffff;
  --overlay-color: rgba(255, 255, 255, 0.3);
  --level-color: rgba(0, 0, 0, 0.7);
  --drop-color: rgb(213, 213, 213);
  --drop-hover: rgb(184, 184, 184);

  --app-link: rgb(237, 245, 254);
  --app-link-text: rgb(0, 108, 231);
  --inline-bg: #d9d9d9;
}

:root[data-color-mode='dark'] {
  --navbar-bg: #2c2c2e;
  --text-color: #ffffff;
  --text-hover: #cbcbcb;
  --body-bg: #2d2f32;
  --bar-color: #006ce7;

  /** code color*/
  --code-white: #ffffff;
  --code-purple: #c04f8a;
  --code-yellow: #e0b859;
  --code-value: #5183b7;
  --code-semi: #9cdafa;
  --code-class: rgb(186, 149, 225);
  --html-tag-color: #cf5d5a;
  --html-lt-color: #ffffff;

  --cursor-color: #ffffff;
  --soical-color: #5183b7;
  --skill-bg-color: #383939;
  --overlay-color: rgba(0, 0, 0, 0.3);
  --level-color: rgba(255, 255, 255, 0.7);
  --drop-color: rgb(61, 61, 61);
  --drop-hover: rgb(85, 85, 85);

  --app-link: rgb(183, 213, 247);
  --app-link-text: rgb(43, 102, 202);
  --inline-bg: #454545;
}

body {
  font-family: 'Noto Sans KR', 'Noto Sans JP', sans-serif !important;
  box-sizing: border-box;
  background-color: var(--body-bg);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.fade-in {
  opacity: 0 !important;
}

.fade-out {
  opacity: 1 !important;
  transition: opacity 1s;
}

.loding-image {
  width: 300px;
}

.collpase {
  height: 0px !important;
  overflow: hidden;
}

.collpase-icon {
  font-size: 25px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.collpase-icon.dummy {
  opacity: 0;
  pointer-events: none;
}

.collpase-icon:hover {
  transform: scale(1.1);
}

.collpase-icon.close {
  transform: rotate(-90deg);
}

/** Markdown Viewer */

.wmde-markdown {
  --color-canvas-default: none !important;
  font-family: 'Noto Sans KR', sans-serif !important;
}

.wmde-markdown code {
  color: var(--text-color);
  padding: 0.25ch 0.6ch;
  line-height: 2.8ch !important;
  font-family: 'Fira Code', sans-serif !important;
}

.wmde-markdown strong {
  font-weight: 700 !important;
}

/** Code Style */
.code-white {
  color: var(--code-white);
}

.code-purple {
  color: var(--code-purple);
}

.code-yellow {
  color: var(--code-yellow);
}

.code-semi {
  color: var(--code-semi);
}

.code-value {
  color: var(--code-value);
}

.code-class {
  color: var(--code-class);
  font-size: 35px;
}

.code-html {
  color: var(--html-lt-color);
  font-family: 'Fira Code', monospace;
  letter-spacing: -3px;
  font-size: 40px;
  font-weight: 700;
}

.code-html-tag {
  color: var(--html-tag-color);
}

/** Navbar */

.navbar-container {
  height: 62px;
}

.navbar {
  background-color: var(--navbar-bg) !important;
  height: inherit !important;
  position: absolute;
  z-index: 2;
  transform: translateY(0px);
}

.nav-up {
  transform: translateY(-62px);
}

.nav-hide {
  position: fixed !important;
  transform: translateY(-62px) !important;
  transition: transform 0.3s ease;
}

.nav-view {
  position: fixed !important;
  transform: translateY(0px);
  transition: transform 0.3s ease;
}

.navbar-brand {
  color: var(--text-color);
  font-weight: 600;
  letter-spacing: -0.7px;
  margin-right: 0px;
}

.navbar-brand:hover {
  color: var(--text-hover);
}

.nav-link {
  color: var(--text-hover) !important;
}

.selector {
  height: 100%;
  width: 140px;
  border-radius: 7px;
  color: var(--text-color);
  background-color: var(--drop-color);
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.icon {
  font-size: 20px;
  pointer-events: none;
  transform: rotate(-90deg);
  transition: transform 0.2s ease;
}

.icon.active {
  transform: rotate(0deg);
}

.selector-list {
  width: inherit;
  max-height: 220px;
  position: absolute;
  top: 100%;
  left: 0px;
  border-radius: 7px;
  background-color: var(--drop-color);
  opacity: 0;
  visibility: hidden;
  transform: translateY(0);
  overflow: hidden;
  overflow-y: auto;
  transition: 0.3s ease;
}

.selector-list.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(15%);
}

.selector-item {
  list-style: none;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 6px;
  text-transform: capitalize;
  cursor: pointer;
}

.selector-item:hover {
  background-color: var(--drop-hover);
}

/** Info Style */

.info-container {
  width: 100%;
  background-color: var(--navbar-bg);
  height: 230px;
}

.info-field {
  font-weight: 600;
  font-size: 20px;
  color: var(--text-color);
}

.info-image-flexbox {
  width: 255px;
  height: 255px;
  z-index: 0;
}

.info-image {
  width: inherit !important;
  height: inherit !important;
}

.info-code {
  font-family: 'Fira Code', monospace !important;
  font-weight: 800;
  letter-spacing: -2px;
  font-size: 32px;
}

.me {
  font-family: 'Fira Code', 'Noto Sans KR', monospace;
}

.me::after {
  content: '';
  margin-left: 0.42rem;
  border-right: 2px solid var(--cursor-color);
  animation: 0.7s cursor infinite steps(1);
}

/** About Style */
.about-title {
  font-size: 40px;
  font-weight: 700;
}

.about-bar {
  border-bottom: 2px solid var(--bar-color);
  height: 15px;
  width: 40px;
}

.about-text-container {
  font-size: 20px;
}

.about-md {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
}

.about-md code {
  font-size: 20px !important;
}

.md-yellow {
  color: var(--code-yellow) !important;
}

/** Skill Style*/
.skill-list {
  transition: height 0.3s;
}

.skill-item {
  width: 165px;
  height: 165px;
  background-color: var(--skill-bg-color);
  border-radius: 15px;
  transition: border 0.5s;
  transition: transform 0.5s;
  overflow: hidden;
  transform: scale(1);
}

.skill-item:hover {
  transform: scale(1.125);
}

.skill-item:hover .overlay {
  opacity: 1;
}

.skill-item-icon {
  width: 75px;
  display: block;
  margin: auto;
}

.skill-wave {
  z-index: -1;
}

.badge-text {
  font-family: 'Fira Code', sans-serif !important;
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 21.5px;
  color: var(--text-color);
}

.overlay {
  height: 100%;
  background-color: var(--overlay-color);
  opacity: 0;
  transition: all 0.5s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.level {
  font-size: 42px;
  font-weight: 900;
  color: var(--level-color);
}

/** Repo Style */
.repo-item {
  width: 370px;
  height: 270px;
  border-radius: 15px;
  background-color: var(--skill-bg-color);
  transition: transform 0.3s ease;
}

.repo-item:hover {
  transform: translateY(-13px);
}

.repo-list {
  font-size: 40px;
}

.repo-name {
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 0px;
  font-size: 32px;
  color: var(--text-color);
  margin: 0px;
  align-self: center;
}

.repo-desc {
  letter-spacing: 0px;
  font-size: 15px;
  color: var(--text-color);
}

.repo-link {
  border: none;
  border-radius: 7px;
  background-color: var(--app-link);
  font-size: 17px;
  color: rgb(43, 102, 202) !important;
  transform: scale(1);
  transition: transform 0.2s ease-in;
  font-weight: 500;
}
.repo-link:hover {
  transform: scale(1.1);
}

.reward-image {
  width: 250px;
  transition: transform 0.3s ease-out;
}

.reward-image:hover {
  transform: scale(1.1);
}

.image-viewer {
  background-color: var(--overlay-color);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.viewer-image {
  width: 500px;
}

.viewer-alert {
  transition: all 0.7s ease;
  opacity: 0;
  transform: translateY(-30px);
  font-size: 90%;
}

.viewer-alert.active {
  opacity: 1;
  transform: translateY(0px);
}

.modal-container {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 10;
}

.modal-frame {
  width: 55%;
  height: 50%;
  border: 2px solid var(--drop-hover);
  border-radius: 15px;
  background-color: var(--navbar-bg);
}

.scroll-container {
  right: 0;
  bottom: 0;
  z-index: 1;
}

.scroll {
  width: 80px;
  height: 80px;
  background-color: var(--skill-bg-color);
  border-radius: 50%;
  font-size: 35px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.scroll:hover {
  transform: scale(1.1);
}

.menu-animation {
  gap: 6.5px;
}

.menu-btn {
  width: 25px;
}

.menu-bar {
  top: 0px;
  position: relative;
  border: 1px solid var(--text-color);
  border-radius: 1px;
  width: 25px;
  transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, opacity 1s ease;
  animation-direction: alternate;
}

.menu-selector {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0px;
  border-top: 1px solid var(--drop-hover);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--navbar-bg);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-15%);
  transition: 0.3s ease;
}

.menu-selector.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.menu-bar.active:nth-child(1) {
  top: 8.5px;
  transform: rotate(-45deg);
  transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
}

.menu-bar.active:nth-child(2) {
  opacity: 0;
}

.menu-bar.active:nth-child(3) {
  top: -8.5px;
  transform: rotate(45deg);
  transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
}

.footer-me {
  font-weight: 800;
  letter-spacing: -1px;
}

.footer-social {
  width: 70px;
  height: 70px;
  border-radius: 25%;
  font-size: 32px;
  background-color: var(--skill-bg-color);
  cursor: pointer;
  transition: transform 0.25s ease-out;
  color: var(--code-value) !important;
}

.footer-social:hover {
  transform: scale(1.1);
}

.experi-container {
  background-color: var(--navbar-bg);
}

.experi-page {
  font-size: 52px;
  transition: transform 0.3s;
  cursor: pointer;
}

.experi-page:hover {
  transform: scale(1.1);
}

.experi-title {
  position: relative;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
}

.experi-year {
  position: absolute;
  transform: translateY(-100%);
}

.experi-year-md {
  font-size: 22px;
}

.experience {
  color: var(--text-color);
  font-size: 22px;
  height: 350px;
  overflow-y: scroll;
}

.experi-status {
  background-color: var(--drop-hover);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}

.experi-status.active {
  transform: scale(1.2);
  background-color: var(--text-color);
}

.experi-status:hover {
  transform: scale(1.1);
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 992px) {
  .selector {
    width: 120px;
    font-size: 14px;
  }

  .icon {
    font-size: 15px;
  }

  .selector-item {
    font-size: 13px;
  }

  .info-container {
    height: 190px;
  }

  .info-code {
    font-size: 27px;
  }

  .info-field {
    font-size: 16px;
  }

  .info-btn {
    font-size: 13px;
  }

  .info-image-flexbox {
    width: 200px;
    height: 200px;
  }

  .about-title {
    font-size: 35px;
  }

  .about-md {
    font-size: 17px !important;
  }

  .about-md code {
    font-size: 17px !important;
  }

  .code-html {
    font-size: 38px;
  }

  .code-class {
    color: var(--code-class);
    font-size: 33px;
  }

  .repo-item {
    width: 330px;
    height: 230px;
  }

  .repo-name {
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 0px;
    font-size: 28px;
    color: var(--text-color);
    margin: 0px;
    align-self: center;
  }

  .repo-desc {
    letter-spacing: 0px;
    font-size: 14px;
    color: var(--text-color);
  }

  .scroll {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }

  .experi-page {
    font-size: 48px;
  }

  .experi-title {
    font-size: 30px;
  }

  .experi-year-md {
    font-size: 19px;
  }

  .experience {
    font-size: 19px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    height: 54px;
  }

  .navbar-brand {
    font-size: 18px !important;
  }

  .nav-link {
    font-size: 17px;
  }

  .selector {
    width: 110px;
    font-size: 13px;
  }

  .icon {
    font-size: 14px;
  }

  .selector-item {
    font-size: 11px;
  }

  .info-code {
    font-size: 23px;
  }

  .info-image-flexbox {
    width: 170px;
    height: 170px;
  }

  .info-field {
    font-size: 14px;
  }

  .about-text-container {
    flex-wrap: wrap;
    width: 100%;
  }

  .about-bar {
    width: 90px;
  }

  .about-title {
    font-size: 30px;
  }

  .about-md {
    font-size: 12.5px !important;
  }

  .about-md code {
    font-size: 12.5px !important;
  }

  .code-html {
    font-size: 31px;
  }

  .code-class {
    color: var(--code-class);
    font-size: 26px;
  }

  .skill-item {
    width: 155px;
    height: 155px;
  }

  .badge-text {
    font-size: 20px;
  }

  .level {
    font-size: 38px;
  }

  .collpase-icon {
    font-size: 20px;
  }

  .viewer-image {
    width: 300px;
  }

  .alert-heading {
    font-size: 17px !important;
  }

  .alert-desc {
    font-size: 12px;
  }

  .experi-page {
    font-size: 40px;
  }

  .experi-title {
    font-size: 25px;
  }

  .experi-year-md {
    font-size: 18px;
  }

  .experience {
    font-size: 18px;
  }

  .experi-status {
    width: 8px;
    height: 8px;
  }
}

@media screen and (max-width: 690px) {
  .navbar-brand {
    font-size: 15px !important;
  }

  .nav-link {
    font-size: 15px;
  }

  .navbar-link {
    font-size: 13px !important;
  }

  .info-image-flexbox {
    width: 150px;
    height: 150px;
  }

  .viewer-alert {
    font-size: 80%;
  }
}

@media screen and (max-width: 576px) {
  .navbar-brand {
    font-size: 15px !important;
  }

  .nav-link {
    font-size: 13px;
  }

  .nav-image {
    width: 25px;
  }

  .selector {
    width: 90px;
    font-size: 12px;
  }

  .icon {
    font-size: 10px;
  }

  .selector-item {
    font-size: 10px;
  }

  .info-code {
    font-size: 20px;
  }

  .info-image-flexbox {
    width: 130px;
    height: 130px;
  }

  .info-field {
    font-size: 13px;
  }

  .info-btn {
    border-width: 1px !important;
    font-size: 12px;
  }

  .info-container {
    height: 160px;
  }

  .skill-item {
    width: 135px;
    height: 135px;
  }

  .skill-item-icon {
    width: 65px;
  }

  .badge-text {
    font-size: 17px;
  }

  .level {
    font-size: 33px;
  }

  .code-html {
    font-size: 28px;
  }

  .code-class {
    color: var(--code-class);
    font-size: 23px;
  }

  .collpase-icon {
    font-size: 18px;
  }

  .scroll {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .experi-page {
    font-size: 35px;
  }

  .experi-title {
    font-size: 18px;
  }

  .experi-year-md {
    font-size: 16px;
  }

  .experience {
    font-size: 15px;
  }

  .experi-status {
    width: 8px;
    height: 8px;
  }
}
