@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Kanit:ital,wght@1,600&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root[color-theme='light'] {
  --navbar-bg: #e5e5e5;
  --text-color: #000000;
  --text-hover: #6f6e6e;
  --body-bg: #f0f0f0;

  /** code color*/
  --code-white: #767676;
  --code-purple: #8261ec;
  --code-yellow: #455cf1;
  --code-value: #66aaf2;
  --code-semi: #5cabb3;
  --cursor-color: #2c2c2e;
  --soical-color: #66aaf2;
  --html-tag-color: #ec6073;
  --html-lt-color: #5cabb3;
  --skill-bg-color: #ffffff;
  --overlay-color: rgba(255, 255, 255, 0.3);
  --level-color: rgba(0, 0, 0, 0.7);
  --inline-bg: #d9d9d9;
  --app-link: rgb(237, 245, 254);
  --app-link-text: rgb(43, 102, 202);
  --a-link-text: rgb(0, 108, 231);
  --ar-color: rgba(0, 0, 0, 0.7);
}

:root[color-theme='dark'] {
  --navbar-bg: #2c2c2e;
  --text-color: #ffffff;
  --text-hover: #cbcbcb;
  --body-bg: #2d2f32;

  /** code color*/
  --code-white: #ffffff;
  --code-purple: #c04f8a;
  --code-yellow: #e0b859;
  --code-value: #5183b7;
  --code-semi: #9cdafa;
  --cursor-color: #ffffff;
  --soical-color: #5183b7;
  --html-tag-color: #cf5d5a;
  --html-lt-color: #ffffff;
  --skill-bg-color: #383939;
  --overlay-color: rgba(0, 0, 0, 0.3);
  --level-color: rgba(255, 255, 255, 0.7);
  --inline-bg: #454545;
  --app-link: rgb(183, 213, 247);
  --app-link-text: rgb(43, 102, 202);
  --a-link-text: rgb(0, 168, 252);
  --ar-color: rgba(0, 0, 0, 0.7);
}

body {
  font-family: 'Noto Sans KR', sans-serif !important;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--body-bg);
}

/** Navbar */

.navbar-container {
  height: 56px;
}

.navbar {
  background-color: var(--navbar-bg) !important;
  position: absolute;
}

.navbar-brand {
  color: var(--text-color);
  font-weight: 600;
  letter-spacing: -0.7px;
}

.navbar-brand:hover {
  color: var(--text-hover);
}

.nav-link {
  color: var(--text-hover) !important;
}

/** Info Style */

.info-container {
  width: 100%;
  background-color: var(--navbar-bg);
  height: 230px;
}

/** Info Code */

.info-code {
  font-family: 'Fira Code', monospace;
  font-weight: 800;
  letter-spacing: -2px;
  font-size: 32px;
}

.code-white {
  color: var(--code-white);
}

.code-purple {
  color: var(--code-purple);
}

.code-yellow {
  color: var(--code-yellow);
}

.code-semi {
  color: var(--code-semi);
}

.code-value {
  color: var(--code-value);
}

.me {
  font-family: 'Fira Code', 'Noto Sans KR', monospace;
}

.me::after {
  content: '';
  margin-left: 0.42rem;
  border-right: 2px solid var(--cursor-color);
  animation: 0.7s cursor infinite steps(1);
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
